
.header {
  display: flex;
  text-align: center;
  justify-content: center;
}

.waiting{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Take full viewport height */
    background-image: url(https://img.freepik.com/free-vector/forest-scene-with-various-forest-trees_1308-58896.jpg?w=2000); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}


.waiting-message {
  margin: 20px auto;
  padding: 15px;
  max-width: 90%;
  text-align: center;
  background-color: #f4f4f4; 
  color: #090304; 
  border: 1px solid #f5c6cb; 
  border-radius: 8px; 
  font-family: 'Arial', sans-serif; 
  font-size: 16px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease-in-out; 
}



.error-message {
  margin: 20px auto;
  padding: 15px;
  max-width: 90%;
  text-align: center;
  background-color: #f8d7da; 
  color: #721c24; 
  border: 1px solid #f5c6cb; 
  border-radius: 8px; 
  font-family: 'Arial', sans-serif; 
  font-size: 16px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease-in-out; 
}

.error-message:hover {
  background-color: #f5c6cb; 
}


button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
}

button:hover {
  background-color: #45a049;
}

input[type="text"] {
  padding: 10px;
  margin: 20px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 5px;
  width: 200px;
}

.log-out-btn{
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #df3737;
  color: white;
}


.winner-notification {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent background */
  z-index: 10; /* Ensure it's above other content */
}

.winner-message {
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
}

.winner-message h3 {
  margin-top: 0;
  color: #333;
}

.winner-message p {
  color: #555;
  margin: 20px 0;
}

.winner-message button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.winner-message button:hover {
  background-color: #0056b3;
}


.game-header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.game-header h1 {
  margin: 0;
  color: #333;
}

.player-info {
  margin-top: 10px;
  padding: 10px;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.player-one {
  background-color: #007bff;
}

.player-two {
  background-color: #28a745;
}


.turn-info {
  background-color: #f2f4f8;
  border-left: 5px solid #4CAF50; /* Green for "Your turn" */
  margin: 20px 0;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  color: #333;
}

.turn-info.waiting-for-turn {
  border-left-color: #FF9800; 
  
}


.notification-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
  z-index: 1050; 
  animation: fadeOut 15s forwards; 
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0; visibility: hidden;}
}


.loader {
  border: 4px solid rgba(0, 0, 0, 0.1); 
  border-radius: 50%;
  border-top: 4px solid #3498db; 
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin: 20px auto; 
  text-align: center;
  color: #333;
  font-family: Arial, sans-serif;
  padding-top: 50px; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.player-name {
  font-weight: bold; /* Make the name bold */
  color: #007bff; /* Example: a shade of blue to make it stand out, adjust as needed */
  font-size: 1.2em; /* Slightly larger text to ensure visibility */
}
